<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quiz 2</title>
      <link rel="stylesheet" href="quiz2.css">
	</head>
	<body>
		
		<div class="content" id="main">
			<h1>Hi, Welcome to the second quiz!</h1>
			<p>Make sure the containers below respond to the events or functions implemented with quiz2.js</p>
			<div class="events">			
				<div class="click">
					<span>Click Event</span>
				</div>
				<div class="mouse-over">
					<span>mouse over event</span>
					<p>Who's the richest person you know? (mouse over to find out)</p>
				</div>
				<div class="submit">
					<span>Submit Event</span>
					<!-- The form not having an action or method is not a bug in this case -->
					<form>
						<label for="form">AJAX, yo!</label>
						<input type="text" id="form" name="form" placeholder="Enter Some Text">
						<input class="submit-style" type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="timeout">
					<span class="timeout">Timeout Function</span>
				</div>
			</div>
         <br />
         <br />
         <div>
            <button class="submit-style" id="get-id" type="submit">Get Title</button>
         </div>
      </div>         
         
      <div class="content" id="secondary">
         <!--<h1>New Page!</h1>-->
         <div id="display"></div>
         <div id="buttons"></div>
         <!--<button class="submit-style" id="change-id" type="submit">Change It!</button>-->
      </div>		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="quiz2.js"></script>
	</body>
</html>